.card__spin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: poster;
}

.ant-space-item {
  grid-area: poster;
  display: flex;
  height: 100%;
}
