.circle-rate {
  width: 30px;
  height: 30px;
  border: solid 2px black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.circle-rate_red {
  border-color: #e90000;
}

.circle-rate_orange {
  border-color: #e97e00;
}

.circle-rate_yellow {
  border-color: #e9d100;
}

.circle-rate_green {
  border-color: #66e900;
}
